.container {
    max-width: 800px;
    margin: auto;
}

.header{
    text-align: center;
}

.center{
    text-align: center;
    margin-bottom: 3px;
    margin-top: 30px;
}

.left{
    text-align: right;
    float: right;
}
hr{ 
    margin-top: 1px; 
    margin-bottom: 1px;
    border-color: black;
}

.website-counter {
    background-color: #9e2020;
    height: 50px;
    width: 80px;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    font-size: 25px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }